{% extends 'app/base.html' %}
{% load static %}
{% load is_number_tag %}
{% block title %}
    <title>Logic</title>
{% endblock %}
{% block content %}
    <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-5 p-3">
                <div class="alert alert-success d-flex justify-content-center" role="alert">
                    <h1>
                        <div class="random_number" id="random_number">

                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.1.0/justgage.js"></script>#}
    <script>
        const systemSocket = new WebSocket(`ws://${window.location.host}/ws/logic/`);
        systemSocket.onopen = function (e) {
            systemSocket.send(JSON.stringify({"message": 'Sending message to server'}));
        };
        systemSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            {#rand_num.refresh(data.random_number);#}
            document.getElementById("random_number").textContent = JSON.stringify(JSON.parse(data.random_number));
        };
        systemSocket.onclose = function (e) {
            console.error('Chat socket closed');
        };
    </script>
{% endblock %}