version: '3.3'
services:
  web_w:
    restart: always
    build: .
    container_name: web_webim
    volumes:
      - .:/code/
      - static_volume:/code/static
    command: daphne -b 0.0.0.0 -p 8000 webim.asgi:application
#    command: gunicorn -b 0.0.0.0:8000 -w 4 webim.asgi:application -k uvicorn.workers.UvicornWorker
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - pgdb_w
      - redis_w
  pgdb_w:
    image: postgres
    container_name: pgdb_webim
    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file: .env
    ports:
      - "5432:5432"
    expose:
      - "5432"
  redis_w:
    container_name: redis_webim
    image: redis
#    command:
#      - redis-sever
    ports:
      - "6379:6379"
    env_file: .env
    volumes:
      - ./redis.conf:/redis.conf
#  celery_w:
#    container_name: celery_webim
#    restart: always
#    build: .
#    command: celery -A webim worker -l INFO -E
#    volumes:
#      - .:/code/
#    env_file:
#      - .env
#    depends_on:
#      - redis_w
#    links:
#      - redis_w
#  celery_beat_w:
#    container_name: celery_beat_w
#    restart: always
#    build: .
#    command: celery -A webim beat -l info
#    volumes:
#      - .:/code/
#    env_file:
#      - .env
#    depends_on:
#      - redis_w
#    links:
#      - redis_w
volumes:
    pgdata:
    static_volume:
